.movie{

  margin-top: var(--margin-size);
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 340px;

  grid-template-areas:
  'topbar topbar'
  'info poster'
  'trailer trailer';

  .topbar{
    grid-area: topbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #e6e6e6;
    padding: 0 16px;
    color: var(--primary-color);

    h2{
      margin: 0;
    }

    .release-date{
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .info{
    grid-area: info;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;

    h3{
      color: var(--primary-color);
      border-bottom: 2px solid var(--secondary-color);
      padding-bottom: 8px;
    }



    .details{

      height: 100%;
      position: relative;

      display: flex;
      flex-direction: column;

      .footer{
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        height: 100%;

        .genres-container, .score-container{
          margin-top: auto;
        }



      }

      .details-list{

        h3{
          border: 0;
          margin-bottom: 0;
        }

        display: flex;
        flex-wrap: wrap;

        > div {
          margin-right: 16px;
          text-align: center;
          display: flex;
          flex-direction: column;
        }

      }

      .genres{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: auto;
        padding-bottom: 8px;
        padding-top: 16px;

        li{
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
          margin-right: 8px;
          background: #fff;
          border-radius: 100px;
          margin-bottom: 8px;
          padding: 4px 8px;
          white-space: nowrap;
        }
      }

    }

  }

  .poster{
    grid-area: poster;
    width: 340px;

    img{
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .trailer{
    grid-area: trailer;
    margin: var(--margin-size) 0;

    .wraper{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;

      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

  }

}

@media only screen and (max-width: 768px) {
  .movie{
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto 340px;

    grid-template-areas:
    'topbar topbar'
    'poster poster'
    'info info'
    'trailer trailer';

    .topbar{
      flex-direction: column;
      text-align: center;
      padding: 16px 0;
      height: 100%;
    }

    .poster{
      width: 100%;
    }
  }
}