.search-bar-container{
	margin: var(--margin-size) 0;
}

.messages{
	background: #ebebeb;
	padding: 16px;
	margin-bottom: var(--margin-size);
}

@media only screen and (max-width: 768px) {
  .search-bar-container{
		padding: 0 var(--margin-size);
	}
}
