.genres{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin-right: 8px;
    background: #fff;
    border-radius: 100px;
    margin-bottom: 8px;
    padding: 4px 8px;

    a{
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}