.header{
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  height: 80px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;

  h1{
    margin: 0;
  }
}