.movie{
  background: #ebebeb;
  display: grid;
  margin-bottom: var(--margin-size);
  grid-template-columns: 220px 1fr;
  min-height: 330px;
  overflow: hidden;

  .poster{

    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCC;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info{
    // padding: 0 28px;
    display: flex;
    flex-direction: column;

    .title{
      background: var(--primary-color);
      color: var(--secondary-color);
      display: flex;
      min-height: 70px;
      position: relative;

      .score-container{
        margin-top: auto;
        margin-right: 16px;
        margin-left: 16px;
        position: absolute;
        top: calc(100% - 35px);
      }

      a{
        color: var(--secondary-color);
      }

      h2{
        margin: 0;
        margin-left: 102px;
        margin-top: auto;
        padding: 8px 0;
      }
    }

    .release-date{
      margin-left: 102px;
      height: 50px;
      color: rgba(0, 0, 0, 0.5);
      padding-top: 4px;
    }

    .overview{
      padding: 0 16px;
      padding-bottom: 16px;
    }

    .genre-container{
      margin-top: auto;
      margin-left: 16px;
      margin-bottom: 16px;
    }

  }
}

@media only screen and (max-width: 768px) {
  .movie{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;


    .no-poster{
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .poster{
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }
}