.pagination{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;

  li{

    a{
      font-size: 1.2em;
      cursor: pointer;
      padding: 16px 12px;
      color: var(--primary-color);
    }

    &.active a{
      font-size: 1.25em;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-color);
      border: 5px solid var(--secondary-color);
      color: var(--secondary-color);
      border-radius: 50%;
      position: relative;
    }

  }

  .previous, .next{
    display: none;
  }
}