.score{

  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  font-size: 1.5em;
  border: 5px solid var(--secondary-color);
  font-family: 'Abel', sans-serif;
  margin: 3px;
  box-shadow:
    0 0 0 3px var(--primary-color);

  &.large{
    width: 100px;
    height: 100px;
    font-size: 2.2em;
  }
}