.search{

  position: relative;

  input{
    height: 45px;
    width: 100%;
    background: #ebebeb;
    border: 0;
    padding: 0 16px;
    border-radius: 45px;
    font-size: 16px;
    color: var(--primary-color);

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(var(--primary-color-rgb), 0.8);
    }
  }

  fieldset, form{
    padding: 0;
    border: 0;
    margin: 0;
  }

  .suggestions{
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #FFF;
    padding: 0 16px;

    li{
      padding: 4px 0;
    }
  }

}